@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Aleo", serif;
}

@media (min-width: 320px) {
  .bg-base {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/img/background-xs.png");
    background-size: contain;
    background-position: top;
  }

  .relative-y {
    position: relative;
    top: 98.111px;
  }

  .img-background-gif {
    padding-top: 0;
    width: 270px;
    height: 320px;
    background-image: url("./assets/video/bnl_600.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .link_cls {
    color: #1c1c1c;
    text-decoration: none;
    font-size: 1.25rem;
  }

  .w-flex {
    max-width: 100%;
    height: auto;
  }

  .w-text {
    width: 280px;
    height: auto;
  }

  .section-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-base p {
    font-size: 0.75rem;
    margin: 1rem 1.25rem;
    text-align: center;
    line-height: 1.15;
    color: #7f4150;
  }

  .bottom-caption {
    padding-top: 1.65rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-base {
    padding: 3.555px 0px;
    background-color: #e9948f;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .text-bottom {
    font-family: "League Spartan", sans-serif;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
  }
}

@media (min-width: 360px) {
}

@media (min-width: 375px) {
  .section-base {
    padding-top: 0%;
  }

  .img-background-gif {
    height: 375px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: 390px) {
}

@media (min-width: 412px) {
  .relative-y {
    top: 155.111px;
  }
}

@media (min-width: 600px) {
}

@media (min-width: 425px) {
  .relative-y {
    top: 78.155px;
  }
}

@media (min-width: 768px) {
  .relative-y {
    top: 82.155px;
  }

  .section-base {
    padding-top: 0;
  }

  .bg-base {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-background-gif {
    padding-top: 0;
    width: 100%;
    height: 400px;
    background-image: url("./assets/video/bnl_600.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .bg-base {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/img/background.png);
    background-size: cover;
  }

  .w-text {
    max-width: 100%;
    height: auto;
    position: relative;
    bottom: 5.99rem;
  }

  .section-base p {
    position: relative;
    bottom: 7.125rem;
    color: #7f4150;
    margin-top: 1.75rem;
    margin-bottom: 0;
  }

  .bottom-caption {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-bottom {
    font-size: 0.75rem;
  }

  .bottom-caption a {
    font-size: 1.25rem;
    padding-bottom: 5px;
    font-weight: 500;
    text-decoration: none;
    color: #1c1c1c;
  }
}

@media (min-width: 912px) {
  .relative-y {
    top: 15.555rem;
  }

  .img-background-gif {
    padding-top: 0;
    width: 600px;
    height: 400px;
    background-image: url("./assets/video/bnl_600.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1024px) {
  .relative-y {
    top: 4.555rem;
  }
}

@media (min-width: 1440px) {
  .relative-y {
    top: 60px;
  }

  .bottom-caption {
    padding-top: 2.5rem;
  }
}

@media (min-width: 1560px) {
  .relative-y{
    top: 9.85rem;
  }
  .bottom-caption {
    padding-top: 2.75rem;
  }
}
